<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="digitalSlate.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <digitalSlate.My.MySettings>
            <setting name="cfgCountdownCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cfgBeepCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgDisplayCaps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgScene" serializeAs="String">
                <value>1A</value>
            </setting>
            <setting name="cfgScenePre" serializeAs="String">
                <value/>
            </setting>
            <setting name="cfgSceneNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgShot" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="cfgTake" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgRoll" serializeAs="String">
                <value>A001</value>
            </setting>
            <setting name="cfgCameraNum" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="cfgCamCardNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgProduction" serializeAs="String">
                <value>Your Film Title</value>
            </setting>
            <setting name="cfgDirector" serializeAs="String">
                <value>Ian Knight</value>
            </setting>
            <setting name="cfgDOP" serializeAs="String">
                <value>Steve Perry</value>
            </setting>
            <setting name="cfgFPS" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="cfgInt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgDay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgSync" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cfgDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="cfgCurrentDate" serializeAs="String">
                <value>05 Jun 2024</value>
            </setting>
            <setting name="cfgCustDate" serializeAs="String">
                <value/>
            </setting>
        </digitalSlate.My.MySettings>
    </userSettings>
</configuration>
